<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iDracoMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C065EF6C1D6A871C00E4E832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C065EF831D6A871C00E4E832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C065EF8E1D6A871D00E4E832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
